html, body {
    width: 100vw;
    position: relative;
    scroll-behavior: smooth;
}

#navbar-list {
    text-align: center;
    text-transform: uppercase;
}

.content-section {
    min-height: 25vh;
    padding: 3em 2rem 3rem 2rem;
    display: flex;
    align-items: center;
}

#navbar-list img {
    display: none;
}

#navbar-list .nav-item {
    color: lightgray;
    border-width: 0 0 0 0;
}

#navbar-list hr {
    margin: 0;
    align-self: stretch;
    border-top: 1px solid darkslategray;
}

button:focus {
    outline: 1px;
}

a.bg-dark:focus, a.bg-dark:hover, button.bg-dark:focus, button.bg-dark:hover {
    background-color: #343a40!important;
}

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.0rem;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
}

.display-1 {
    font-style: italic;
}

.social-icon {
    color: darkslategrey;
    max-width: 32px;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.project-image {
    max-width: 70%;
    max-height: 8rem;
}

.project {
    min-height: 35vh;
}

@media (min-width: 576px) {
    * {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 4rem;
    }

    #navbar-list {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
    }

    #navbar {
        position: fixed;
        height: 100vh;
        max-width: 25%;
        min-width: 165px;
    }

    #navbar-list img {
        display: block;
        max-width: 100px;
        max-height: 100px;
        border: 5px solid darkslategrey;
    }

    #navbar-list .nav-item.active {
        color: white;
    }

    .content-section {
        min-height: 100vh;
        padding: 5rem 3rem 5rem 3rem;

    }

    .project-image {
        max-width: 60%;
    }

    .project {
        min-height: 60vh;
    }
}

@media (min-width: 992px) {
    .project-image {
        max-width: 100%;
    }

    .project {
        min-height: 45vh;
    }
}